<aside class="sidebar">

    <!-- Logo -->

    <div class="sidebar-logo">

        <a href="dashboard.html" class="logo">

           <img src="../images/Roundnew.jpg" alt="Fashion Essentials Logo">

            <span>Fashion Essentials</span>

        </a>

    </div>

    <!-- Navigation -->

    <nav class="sidebar-nav">

        <a href="dashboard.html" class="active">
            <span>🏠</span>
            Dashboard
        </a>

        <a href="products.html">
            <span>📦</span>
            Products
        </a>

        <a href="add-product.html">
            <span>➕</span>
            Add Product
        </a>

        <a href="categories.html">
            <span>📂</span>
            Categories
        </a>

        <a href="settings.html">
            <span>⚙</span>
            Settings
        </a>

    </nav>

    <!-- Logout -->

    <div class="sidebar-footer">

        <a href="../index.html">

            <span>🚪</span>

            Logout

        </a>

    </div>

</aside>
